In [2]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Gyaanendra/sem1-python-project/refs/heads/main/data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6810 entries, 0 to 6809
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   isbn13          6810 non-null   int64
 1   isbn10          6810 non-null   object
 2   title           6810 non-null   object
 3   subtitle        2381 non-null   object
 4   authors         6738 non-null   object
 5   categories      6711 non-null   object
 6   thumbnail       6481 non-null   object
 7   description     6548 non-null   object
 8   published_year  6804 non-null   float64
 9   average_rating  6767 non-null   float64
 10  num_pages       6767 non-null   float64
 11  ratings_count   6767 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 638.6+ KB

In [4]:
df.head()

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0

In [5]:
df['thumbnail'][0]

'http://books.google.com/books/content?id=KQZCPgAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api'

In [6]:
df.isnull().sum()

isbn13               0
isbn10               0
title                0
subtitle          4429
authors             72
categories          99
thumbnail          329
description        262
published_year       6
average_rating      43
num_pages           43
ratings_count       43
dtype: int64

In [7]:
df.dropna(subset=['thumbnail'], inplace=True)

In [8]:
df.isnull().sum()

isbn13               0
isbn10               0
title                0
subtitle          4215
authors             61
categories          49
thumbnail            0
description        155
published_year       0
average_rating      33
num_pages           33
ratings_count       33
dtype: int64

In [9]:
df.dropna(subset=['description'], inplace=True)

In [10]:
df.isnull().sum()

isbn13               0
isbn10               0
title                0
subtitle          4109
authors             57
categories          22
thumbnail            0
description          0
published_year       0
average_rating      33
num_pages           33
ratings_count       33
dtype: int64

In [11]:
df.dropna(subset=['num_pages'], inplace=True)

In [12]:
df.isnull().sum()

isbn13               0
isbn10               0
title                0
subtitle          4085
authors             57
categories          21
thumbnail            0
description          0
published_year       0
average_rating       0
num_pages            0
ratings_count        0
dtype: int64

In [13]:
df.dropna(subset=['authors'], inplace=True)

In [14]:
df.isnull().sum()

isbn13               0
isbn10               0
title                0
subtitle          4048
authors              0
categories          21
thumbnail            0
description          0
published_year       0
average_rating       0
num_pages            0
ratings_count        0
dtype: int64

In [15]:
df.dropna(subset=['categories'], inplace=True)

In [16]:
df.isnull().sum()

isbn13               0
isbn10               0
title                0
subtitle          4033
authors              0
categories           0
thumbnail            0
description          0
published_year       0
average_rating       0
num_pages            0
ratings_count        0
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6215 entries, 0 to 6809
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   isbn13          6215 non-null   int64
 1   isbn10          6215 non-null   object
 2   title           6215 non-null   object
 3   subtitle        2182 non-null   object
 4   authors         6215 non-null   object
 5   categories      6215 non-null   object
 6   thumbnail       6215 non-null   object
 7   description     6215 non-null   object
 8   published_year  6215 non-null   float64
 9   average_rating  6215 non-null   float64
 10  num_pages       6215 non-null   float64
 11  ratings_count   6215 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 631.2+ KB

In [18]:
df.head()

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0

In [19]:
df.columns

Index(['isbn13', 'isbn10', 'title', 'subtitle', 'authors', 'categories',
       'thumbnail', 'description', 'published_year', 'average_rating',
       'num_pages', 'ratings_count'],
      dtype='object')

In [20]:
# import psycopg2

# # Define your PostgreSQL connection URL
# connection_url = "postgresql://neondb_owner:8ojEy7YLPIqC@ep-divine-snowflake-a1f3wioc.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# # Connect to the PostgreSQL database using the connection URL
# conn = psycopg2.connect(connection_url)

# # Create a cursor
# cur = conn.cursor()

# # Enable the "pgcrypto" extension to use the gen_random_uuid() function
# cur.execute("CREATE EXTENSION IF NOT EXISTS pgcrypto;")

# # Define the SQL query to create the 'books' table
# create_table_query = """
# CREATE TABLE IF NOT EXISTS books (
#     book_id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
#     isbn13 VARCHAR(13),
#     isbn10 VARCHAR(10),
#     title VARCHAR(255) NOT NULL,
#     subtitle VARCHAR(255),
#     authors TEXT,
#     categories TEXT,
#     thumbnail TEXT,
#     description TEXT,
#     published_year INT,
#     average_rating NUMERIC(3, 2),
#     num_pages INT,
#     ratings_count INT
# );
# """

# # Execute the table creation query
# cur.execute(create_table_query)

# # Commit the changes and close the connection
# conn.commit()
# cur.close()
# conn.close()

In [21]:
# from sqlalchemy import create_engine

# # Define your PostgreSQL connection URL
# engine = create_engine("postgresql://neondb_owner:8ojEy7YLPIqC@ep-divine-snowflake-a1f3wioc.ap-southeast-1.aws.neon.tech/neondb?sslmode=require")


# # Insert data into the 'books' table without the 'id' column
# df.to_sql('books', engine, if_exists='append', index=False)

In [26]:
print(list(df["categories"].unique()))

['Fiction', 'Detective and mystery stories', 'American fiction', 'Christian life', 'Authors, English', 'Africa, East', 'Hyland, Morn (Fictitious character)', 'Adventure stories', 'Arthurian romances', 'Fantasy fiction', 'English drama', 'Country life', 'English fiction', 'Clergy', 'Aubrey, Jack (Fictitious character)', 'Detective and mystery stories, English', 'Black Death', 'Human cloning', 'Science fiction', 'Great Britain', 'American essays', 'China', 'Capitalism', 'Ireland', 'Juvenile Fiction', "Children's stories, English", 'Male friendship', 'Literary Collections', 'Beresford, Tommy (Fictitious character)', 'Imaginary wars and battles', 'Dysfunctional families', 'Poirot, Hercule (Fictitious character)', 'Christmas stories', 'Marple, Jane (Fictitious character)', 'Belgians', 'Battle, Superintendent (Fictitious character)', 'Cambridge (Mass.)', 'Business enterprises', 'Emotional problems', 'Characters and characteristics in motion pictures', 'Fantasy fiction, English', 'Baggins, Frodo (Fictitious character)', 'Fairy tales, English', 'Hallucinogenic drugs', "Children's stories", 'Parenthood', 'FICTION', 'Biography & Autobiography', 'Authors, American', 'Vietnam War, 1961-1975', 'Boys', 'Computer programmers', 'Actors', 'Friendship', 'Authors', 'Costume', 'African American plantation owners', 'Conduct of life', 'Alienation (Social psychology)', 'Cowboys', 'Language Arts & Disciplines', 'Philosophy', 'History', 'Literary Criticism', 'Science', 'Family & Relationships', 'Juvenile Nonfiction', 'African Americans in radio broadcasting', 'Business & Economics', 'Poetry', 'Self-Help', 'Sports & Recreation', 'True Crime', 'Psychology', 'Religion', 'Travel', 'Social Science', 'Health & Fitness', 'Music', 'Comics & Graphic Novels', 'Political science', 'Medical', 'Body, Mind & Spirit', 'Education', 'Political Science', 'Antiques & Collectibles', 'Reference', 'Art', 'Families', 'Young Adult Fiction', 'Humor', 'Nature', 'Foreign Language Study', 'Computers', 'Cosmology', 'Physicists', 'Australian fiction', 'Australia', 'Azerbaijan', 'Dublin (Ireland)', 'Americans', 'Slave insurrections', 'Amis, Kingsley', 'Dangerously mentally ill', 'American literature', 'Life on other planets', 'Anger', 'Comedy', "Alzheimer's disease", 'College teachers', 'Essays', 'Mothers and sons', 'Atonement', 'Badgers', 'Gangs', 'Human behavior', 'Social action', 'Horror', 'Galicia (Spain : Region)', 'Businesswomen', 'Domestic fiction', 'Japan', 'Crime investigation', 'Authors, German', 'Short stories, American', 'Short stories', 'African Americans', 'Exorcism', 'Europe', 'Horror tales', 'Cults', 'Divorced women', 'Bracelets', 'Death', 'Egyptologists', 'Demonology', 'Alcoholics', 'Feature films [DVD]', 'Brothers', 'England', 'Adultery', 'Accidents', 'Christmas', 'College attendance', 'London (England)', 'Children of the rich', 'Literature', 'City and town life', 'Classical fiction', 'War', 'Historical fiction', 'Law', 'Mathematics', 'Ghost stories, American', 'Pigeons', 'Electrons', 'Existential psychotherapy', 'Albigenses', 'Sex', 'Latin America', 'Drama', 'Confucianism', 'Performing Arts', 'BIOGRAPHY & AUTOBIOGRAPHY', 'British', 'English', 'Humorous stories, English', 'Authors, Italian', 'Canadian wit and humor', 'Obesity', 'High schools', 'English poetry', 'Amour - Ouvrages avant 1800', 'Candy', 'Courtship', 'Dracula, Count (Fictitious character)', 'Bond, James (Fictitious character)', 'Dead', 'Cabrillo, Juan (Fictitious character)', 'Cookery', 'Jews', 'Children of Holocaust survivors', 'American wit and humor', 'Experimental fiction, American', 'Argentine literature', 'Novelists, American', 'Men', 'Czechoslovakia', 'French drama', 'Epidemics', 'Repression (Psychology)', 'Horror tales, American', 'Mentally ill', 'Handicapped youth', 'Sea monsters', 'Design', 'Adult children', 'Pets', 'Experimental fiction', 'Agriculture', 'First loves', 'Cancer', 'Curiosities and wonders', 'Graphic novels', 'Erinyes (Greek mythology)', 'Greek drama (Tragedy)', 'Babytime resource', 'Fantasy', 'Beowulf', 'Baggins, Bilbo (Fictitious character)', 'Zero (The number)', 'Psychoanalysis and religion', 'Poets, Chilean', 'Photography', 'Cooking', 'Art museum curators', 'Bibles', 'Literary Criticism & Collections', 'New England', 'Authors, Canadian', 'Abandoned mines', 'Air pilots', 'Community life', 'Rock musicians', 'Banks and banking, British', 'Brothers and sisters', 'Conspiracies', 'Egypt', 'Diary fiction', 'Bail bond agents', 'Catholics', 'Political leadership', 'Bosnia and Hercegovina', 'Mormon fundamentalism', 'American Wit And Humour', 'Cocaine industry', 'Murder', 'India', 'Autonomy (Psychology).', 'Dent, Arthur (Fictitious character)', 'Paris (France)', 'Books', 'Apartments', 'Actresses', 'Germany', 'Adventure stories, English', 'Animal sanctuaries', 'Adventure fiction', 'Buddhism', 'Bereavement', 'Human-alien encounters', 'Auschwitz (Poland : Concentration camp)', 'Political fiction', 'Antisemitism', 'Popular culture', 'Misogyny', 'Apartheid', 'Botswana', 'United States', 'Gardening', 'American poetry', 'Cooking, French', 'Bible', 'Occult fiction', 'Architecture', 'Intelligence service', 'Ryan, Jack (Fictitious character)', 'Lecter, Hannibal (Fictitious character)', 'American drama', "Children's plays", 'Dating (Social customs)', 'Blind', 'Animals, Mythical', 'Diaries', 'Babysitters Club (Imaginary organization)', 'Fairy tales', 'Horror stories', 'Trials (Witchcraft)', 'Ghost stories', 'Stone age', 'Alanna (Fictitious character : Pierce)', 'Arctic regions', 'Queens', 'Los Angeles (Calif.)', 'Bullying', 'Adolescence', 'Mental illness', 'Allegories', 'Dominican Republic', 'Games & Activities', 'Detective and mystery stories, English.', 'Science fiction, English', 'Drenai (Imaginary place)', 'Discworld (Imaginary place)', 'Persian Gulf War, 1991', 'Criminals', 'Arabic fiction', 'Brewing', 'Ballet dancers', 'Chocolate', 'Cider house rules. (Motion picture)', 'Finance, Personal', 'Contests', 'Eretz Israel', 'Apprentices', 'Manuscripts', 'Divorced people', 'Boston (Mass.)', 'Amazon River Region', 'Czech fiction', 'Civil law', 'Hitchhiking', 'Latin poetry', 'Polish poetry', 'Bus travel', 'Teenagers', 'Gambling', 'History, Modern', 'Poets, American', 'Czech Republic', "Children's poetry, American", 'Prisoners of war', 'Englisch - Geschichte - Lyrik - Aufsatzsammlung', 'Mathematicians', 'Black humor (Literature)', 'Dreams', 'Motion picture actors and actresses', 'Boarding schools', 'Short stories, English', 'Alternative histories (Fiction)', 'Friendship in adolescence', 'Folklore', 'Behavior', 'Ballet', 'Horror stories.', 'Cats', 'Family', 'English language', 'Sexual behavior surveys', 'Canada', 'Espionage', 'Electronic books', 'Love poetry', 'Alcestis (Greek mythology)', 'Boarding school-fiction', 'African American men', 'Sex customs', 'Provence (France)', 'Technology & Engineering', 'Essentialism (Philosophy)', 'Animal sounds', 'Music trade', 'Computer science', 'Democracy', 'Psycho (Motion picture : 1960)', 'Business women', 'Angels', 'Aboriginal Australians', 'Photographers', 'Fantasy fiction, American', 'Labrador retriever', 'Reducing diets', "Partition of decedents' estates", 'Archaeological expeditions', 'Explorers', 'Love', 'Games', 'Birds', 'Language and languages', 'Blacks', 'City girl', 'Businessmen', 'Humorous fiction', 'Chick lit', 'Female friendship', 'Cornwall (England : County)', 'American wit and humor, Pictorial', 'Film producers and directors', 'Kyoto (Japan)', 'Crusades', 'Canterbury (England)', 'Adventure stories, American', 'Aging', 'Arithmetic', 'Outlaws', 'Bedtime', 'Cosmetics industry', 'Man-woman relationships', 'Confianza en s√≠ mismo', 'Dallas, Eve (Fictitious character)', 'Escapes', 'Castle Rock (Me. : Imaginary place)', 'Benedictine monasteries', 'Amyotrophic lateral sclerosis', 'Abused wives', 'Birthparents', 'Conner, Rainie (Fictitious character)', 'Continental Op (Fictitious character)', '87th Precinct (Imaginary place)', 'Women terrorists', 'Organized Crime', 'Defectors', 'College stories', 'Crime investigations', 'Austria', 'Surealism', 'Cellists', 'Holt, Max (Fictitious character)', 'Magic', 'Zoology', 'Transportation', 'JUVENILE FICTION', 'Dystopias', 'Large print books', 'Dragons', 'Insane, Criminal and dangerous', 'Divorce', 'Study Aids', 'Crafts & Hobbies', 'Detective and mystery comic books, strips, etc', 'Theology, Doctrinal', 'Aeneas (Legendary character)', 'Physics', 'European fiction', 'House & Home', 'Bumppo, Natty (Fictitious character)', 'Illinois', 'Yoknapatawpha County (Imaginary place)', 'Humorous stories, American', 'Black market', 'Shipwrecks', 'Cerebrovascular disease', 'Cities and towns', 'Comic books, strips, etc', 'Audiobooks', 'Existentialism', 'Botanique', 'English essays', 'Inventions', 'Building laws', 'LITERARY CRITICISM', 'Amish', 'Human-animal relationships', 'Imperialism', 'Catholic women', 'Aged women', 'Ballets', 'Humorous stories', 'Butlers', 'Gardens', 'Assassins', 'Married people', 'Actors and actresses', 'Church work with the poor', 'Estados Unidos - Relaciones exteriores - 1945-1989', 'Authors, Cuban', 'Death (Fictitious character : Gaiman)', 'Astronomers', 'Epic literature', 'Girls', 'Elves', 'Conan (Fictitious character)', 'Otherland (Imaginary place)', 'Courage', 'Identity (Psychology)', 'Science fiction, American', 'Mars (Planet)', 'Bosnia and Herzegovina', 'Disasters', 'Lisbon (Portugal)', 'Aeronautics', 'Childbirth', 'Consumer behavior', 'Seduction', 'Authors, Arab', 'Nineteen ninety-eight, A.D.', 'Children of divorced parents', 'Animals', 'Everest, Mount (China and Nepal)', 'Family life', 'Boats and boating', 'People with social disabilities', 'Minimal brain dysfunction in children', 'Spiritual life', 'Meditation', 'Christian fiction', 'Napoleonic Wars, 1800-1815', 'Indic fiction (English)']

In [28]:
import psycopg2
from psycopg2 import sql
from uuid import uuid4
from datetime import datetime

# Establish connection
conn = psycopg2.connect("postgresql://neondb_owner:8ojEy7YLPIqC@ep-divine-snowflake-a1f3wioc.ap-southeast-1.aws.neon.tech/neondb?sslmode=require")

# Create a cursor object
cur = conn.cursor()

# SQL query to create the table
create_table_query = '''
CREATE TABLE borrowed_books (
    borrowed_id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID NOT NULL,
    book_id UUID NOT NULL,
    borrowed_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    returned INTEGER DEFAULT 0,
    FOREIGN KEY (user_id) REFERENCES users(user_id),
    FOREIGN KEY (book_id) REFERENCES books(book_id)
);
'''

# Execute the query
cur.execute('CREATE EXTENSION IF NOT EXISTS "pgcrypto"')
cur.execute(create_table_query)

# Commit the transaction
conn.commit()

# Close the cursor and connection
cur.close()
conn.close()

print("Table 'borrowed_books' created successfully.")

Table 'borrowed_books' created successfully.